*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
img{
    width:100px;
    height: 100px;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 30px;
    color: #fff;
}

.register{
    display: inline-block;
    text-decoration: none;
    color: blue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/*-----places-----*/
.places{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.places-cols{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.places-cols:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.places-cols2{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.places-cols2:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.row3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.places-cols3{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.places-cols3:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.row4{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.places-cols4{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.places-cols4:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.about{
    background: floralwhite;
    font-size: medium;
    font-weight: 600;
}










